extends layout

block content
    div#header
        h1 Retirement Stepper
    div#main_body(style="width: 100%")
        span(style="float: right")
            button.button#homeButton(onclick="showHome()") { home }
        h1 Login:
        div.login_line
            label(for="username") Username
            input(type="text" id="username")
        div.login_line
            label(for="password") Password
            input(type="password" id="password")
        span#button_float
            button.button#signIn(onclick="signIn()") { sign in }
            button.button#register(onclick="register()") { register }
        div#register_div
            h2 hello